/* Import Bulma Utilities */
$navbar-height: 4rem;
$navbar-item-img-max-height: 2.5rem;
$navbar-background-color: #7fffc8;
$navbar-box-shadow-color: black;
$family-sans-serif: 'Barlow Condensed', BlinkMacSystemFont, -apple-system,
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$navbar-breakpoint: 800px;
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import '~bulma';
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background: rgba(0, 0, 0, 0.05);
  color: #4a4a4a;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}
h1 {
  font-size: 1.8rem;

  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
}
h3 {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  font-weight: 300;
}
.divider {
  border-bottom: 2px solid black;
}
