/* Import Bulma Utilities */
$navbar-height: 4rem;
$navbar-item-img-max-height: 2.5rem;
$navbar-background-color: #5cd5fe;
$navbar-box-shadow-color: black;
$navbar-item-color: black;
$text: black;
$family-sans-serif: 'Barlow Condensed', BlinkMacSystemFont, -apple-system,
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$navbar-breakpoint: 800px;

$button-focus-box-shadow-size: 0;
$button-focus-box-shadow-color: bulmaRgba(black, 0.25);

@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import '~bulma';
a.navbar-item {
  font-weight: 500;
  font-size: 1.2rem;
}
a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover,
a.navbar-item.is-active,
.navbar-link:focus,
.navbar-link:focus-within,
.navbar-link:hover,
.navbar-link.is-active {
  background: rgba(0, 0, 0, 0.05);
  color: black;
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}
h1 {
  font-size: 1.8rem;

  font-weight: 400;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
}
h3 {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
  font-weight: 300;
}
h4 {
  font-size: 1.11rem;
  margin-bottom: 0.2rem;
  font-weight: 400;
}
.divider {
  border-bottom: 2px solid black;
}
.menu {
  font-size: 4rem;

  font-weight: 600;
  color: black;

  @include until($tablet) {
    text-align: center;
    line-height: 1.2;
  }
}
.menu a {
  color: black;
}
.menu a:hover {
  color: white;
}
.profile-image {
  display: block;
  border-radius: 100%;
  max-width: 360px;

  margin-top: 0;
  @include until($tablet) {
    text-align: center;
    line-height: 1.2;

    margin-top: 3rem;
  }
}

.skill-list {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  width: 100%;
}
.skill-item {
  display: flex;
  flex-basis: 25%;
  max-width: 25%;
}
.skill-item span {
  display: block;
  margin: 0.5rem auto;
  text-align: center;
}
ul {
  line-height: 1;
  margin-top: 0.8rem;
}
li {
  padding-bottom: 0.8rem;
}
